$color-white: #fff;
$color-grey: #f0f0f0;
$color-black: #000000;

.header_ {
  background: $color-black;
  color: $color-white;
  text-align: right;
  padding: 0 15px;
  height: 35px;
  flex-grow: 0;
  .user-card {
    height: 100%;
  }
  .product-card {
    height: 100%;
  }
}
.menu-button {
  display: inline-block;
  float: left;
  width: 30px;
  height: 10px;
  position: relative;
  margin: 12px 0 0;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $color-white;
    transition: top .5s, transform .5s;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $color-white;
    transition: bottom .5s, transform .5s;
  }
  &.active {
    &::before {
      transform: rotateZ(-45deg);
      top: 4px;
    }
    &::after {
      transform: rotateZ(45deg);
      bottom: 4px;
    }
  }
}
//user card
.user-card {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}
.user-form {
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  padding: 20px;
  background: $color-white;
}
.user-icon {
  vertical-align: top;
  display: inline-block;
  height: 18px;
  width: 14px;
  text-indent: -999px;
  overflow: hidden;
  transform: translateY(50%);
  cursor: pointer;
}
.form-row {
  margin: 0 0 20px;
}
.form-control {
  height: 30px;
}
.sign-up {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: $color-black;
  border-color: transparent;
  color: $color-white;
  text-align: center;
}
//product card
.product-card {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}
.product-content {
  position: absolute;
  top: 0;
  left: 0;
}
.icon-card {
  vertical-align: top;
  display: inline-block;
  height: 17px;
  width: 18px;
  text-indent: -999px;
  overflow: hidden;
  transform: translateY(50%);
  cursor: pointer;
}