@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:700|Roboto:300,400,500');
//libs
@import './libs/normalize.scss';
@import './libs/mixins.scss';
@import './libs/include-media.scss';
@import './libs/styleguide.scss';

//blocks
@import './blocks/header.scss';
@import './blocks/menu.scss';
@import './blocks/registration-form.scss';

//pages
@import './pages/home-page.scss'
